In [ ]:
## if GPR X,Y is the same for multiple points we want to sum together and move to the next

## filter and seperate data sets based on GPR date. 

## create column of sum the X,Y from the Lidar to identify which are the exact same 
## use that column to identify all that are the same
## then ---average--- two way travel time, 
# create dataframe pulling X & Y of Lidar, Two Way Travel Time of GPR ( ---averaged---), Date, lidar snow depth 1, lidar snow depth 2, lidar SWE 1, lidar SWE 2

## output will be regridded to 3m with average TWT to then be used to calculate snow density

In [11]:
import datetime
import pandas as pd
import numpy as np

In [19]:
#import data change name based on csv file
GPR = pd.read_csv('GPR_ALL.csv')
GPR.head()

,Unnamed: 0,geom,easting,northing,twt,date
0,0,POINT (743148.4280291862 4324346.7150880415),743148.428029,4.324347e+06,8.3,2020-01-28
1,1,POINT (743148.4040291404 4324346.714088032),743148.404029,4.324347e+06,8.3,2020-01-28
2,2,POINT (743148.2910291193 4324346.702088035),743148.291029,4.324347e+06,8.3,2020-01-28
3,3,POINT (743148.3820291588 4324346.713088031),743148.382029,4.324347e+06,8.3,2020-01-28
4,4,POINT (743148.3610291365 4324346.711088029),743148.361029,4.324347e+06,8.3,2020-01-28

In [23]:
#filter by date to seperate 2 data sets
date1 = '2020-02-02'
date2 = '2020-02-04'
GPR['date'] = pd.to_datetime(GPR['date'])
GPR1 = GPR[(GPR['date'] <= date1)] #less than and equal to
GPR1.head()

GPR2 = GPR[(GPR['date'] >= date2)]  #greater than and equal to this date 

print(len(GPR1), ',', len(GPR2))

1153612 , 395584

In [51]:
##add fake columns for GPR to test out lidar 
#will delete when have real data

lidarSD = np.ones((len(GPR1),1))
GPR1['lidarSD'] = lidarSD
GPR1.head()

Ix = range(1000)
Ix = np.random.choice(Ix, size=len(GPR1))
GPR1['Ix'] = Ix

## Stuff we're keeping
GPRLiDAR = GPR1.groupby(['Ix']).median()
del GPRLiDAR['easting']
del GPRLiDAR['northing']

#GPRLiDAR.drop('easting',inplace = True)
GPRLiDAR.head()

/tmp/ipykernel_8838/589157999.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GPR1['lidarSD'] = lidarSD
/tmp/ipykernel_8838/589157999.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GPR1['Ix'] = Ix

    Unnamed: 0  twt  lidarSD
Ix
0     611989.0  7.8      1.0
1     579940.0  7.7      1.0
2     576053.0  7.8      1.0
3     579029.5  7.8      1.0
4     586005.0  7.7      1.0

In [37]:
GPR1.head()

,Unnamed: 0,geom,easting,northing,twt,date,lidarSD,Ix
0,0,POINT (743148.4280291862 4324346.7150880415),743148.428029,4.324347e+06,8.3,2020-01-28,1.0,256
1,1,POINT (743148.4040291404 4324346.714088032),743148.404029,4.324347e+06,8.3,2020-01-28,1.0,308
2,2,POINT (743148.2910291193 4324346.702088035),743148.291029,4.324347e+06,8.3,2020-01-28,1.0,619
3,3,POINT (743148.3820291588 4324346.713088031),743148.382029,4.324347e+06,8.3,2020-01-28,1.0,210
4,4,POINT (743148.3610291365 4324346.711088029),743148.361029,4.324347e+06,8.3,2020-01-28,1.0,386