## After GPR-Lidar Fusion

In [2]:
import datetime
import pandas as pd
import numpy as np
import geopandas
import matplotlib.pyplot as plt

## Identify the multiple GPR points within LiDAR cells and find median TWTs
 - be sure to update CSV name
 - remoce random IX and lidar SD column when proper data updated
 - update column names

In [3]:
#import data change name based on csv file
dataFusion = pd.read_csv('GPR_ALL.csv')

dataFusion = geopandas.GeoDataFrame(dataFusion, geometry = geopandas.points_from_xy(dataFusion.easting, dataFusion.northing))
# Make lidar X,Y the geom column 

# %whos - this will tell you what variables you have 

#filter by date to seperate 2 data sets
date1 = '2020-02-02'
date2 = '2020-02-04'
dataFusion['date'] = pd.to_datetime(dataFusion['date'])
GPR1 = dataFusion[(dataFusion['date'] <= date1)] #less than and equal to
GPR2 = dataFusion[(dataFusion['date'] >= date2)]  #greater than and equal to this date 
print(len(GPR1), ',', len(GPR2))

### THIS IS TEMPORARYYY!! Delete when we have real data
##add fake columns for GPR to test out lidar 
#will delete when have real data

lidarSD = np.ones((len(GPR1),1))
GPR1['lidarSD'] = lidarSD
GPR1.head()

test1 = range(500000)
test1 = np.random.choice(test1, size=len(GPR1))
GPR1['test'] = test1

test2 = range(50000)
test2 = np.random.choice(test2, size = len(GPR2))
GPR2['test'] = test2

lidarSD = np.ones((len(GPR2),1))
GPR2['lidarSD'] = lidarSD

GPR2.head()
#len(GPRLiDAR)

1153612 , 395584

/srv/conda/envs/notebook/lib/python3.10/site-packages/geopandas/geodataframe.py:1456: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/srv/conda/envs/notebook/lib/python3.10/site-packages/geopandas/geodataframe.py:1456: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/srv/conda/envs/notebook/lib/python3.10/site-packages/geopandas/geodataframe.py:1456: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/srv/conda/envs/notebook/lib/python3.10/site-packages/geopandas/geodataframe.py:1456: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,Unnamed: 0,geom,easting,northing,twt,date,geometry,test,lidarSD
782786,782786,POINT (745693.1310312104 4322365.530087751),745693.131031,4.322366e+06,5.6,2020-02-04,POINT (745693.131 4322365.530),21811,1.0
782787,782787,POINT (745693.096031243 4322365.555087753),745693.096031,4.322366e+06,5.6,2020-02-04,POINT (745693.096 4322365.555),38525,1.0
782788,782788,POINT (745693.0620312886 4322365.58208775),745693.062031,4.322366e+06,5.6,2020-02-04,POINT (745693.062 4322365.582),49180,1.0
782789,782789,POINT (745693.0270312292 4322365.610087752),745693.027031,4.322366e+06,5.6,2020-02-04,POINT (745693.027 4322365.610),24835,1.0
782790,782790,POINT (745692.9930312692 4322365.639087746),745692.993031,4.322366e+06,7.3,2020-02-04,POINT (745692.993 4322365.639),11291,1.0

In [4]:
dataFusion.head()

,Unnamed: 0,geom,easting,northing,twt,date,geometry
0,0,POINT (743148.4280291862 4324346.7150880415),743148.428029,4.324347e+06,8.3,2020-01-28,POINT (743148.428 4324346.715)
1,1,POINT (743148.4040291404 4324346.714088032),743148.404029,4.324347e+06,8.3,2020-01-28,POINT (743148.404 4324346.714)
2,2,POINT (743148.2910291193 4324346.702088035),743148.291029,4.324347e+06,8.3,2020-01-28,POINT (743148.291 4324346.702)
3,3,POINT (743148.3820291588 4324346.713088031),743148.382029,4.324347e+06,8.3,2020-01-28,POINT (743148.382 4324346.713)
4,4,POINT (743148.3610291365 4324346.711088029),743148.361029,4.324347e+06,8.3,2020-01-28,POINT (743148.361 4324346.711)

Data specific for date analysis only

In [5]:
##Filtering by date for analysis on dates -- 
GPRLiDARdate1 = GPR1.sort_values(by ='test', ascending = True)
GPRLiDARdate1 = GPR1.groupby(['test', 'date']).agg({'twt': 'median', 'easting': 'first', 'northing': 'first', 'lidarSD': 'first'})

GPRLiDARdate2 = GPR2.sort_values(by ='test', ascending = True)
GPRLiDARdate2 = GPR2.groupby(['test', 'date']).agg({'twt': 'median', 'easting': 'first', 'northing': 'first', 'lidarSD': 'first'})
length = len(GPRLiDARdate2)
print(length)

190819

Data we have grouped fully based on lidar cell!

In [6]:
##Filtering ignoring different dates. 
GPRLiDAR1 = GPR1.sort_values(by ='test', ascending = True)
GPRLiDAR1 = GPR1.groupby(['test']).agg({'twt': 'median', 'easting': 'first', 'northing': 'first', 'lidarSD': 'first', 'date': 'mean'})

GPRLiDAR2 = GPR2.sort_values(by ='test', ascending = True)
GPRLiDAR2 = GPR2.groupby(['test']).agg({'twt': 'median', 'easting': 'first', 'northing': 'first', 'lidarSD': 'first', 'date': 'mean'})
length = len(GPRLiDAR2)
print(length)

49983

In [7]:
GPRLiDAR1.head()

       twt        easting      northing  lidarSD                date
test
1     5.90  743368.892029  4.323616e+06      1.0 2020-01-28 16:00:00
2     9.90  746758.812016  4.324191e+06      1.0 2020-02-01 00:00:00
3     9.60  742420.164029  4.322554e+06      1.0 2020-01-29 00:00:00
4     8.55  743543.314030  4.324112e+06      1.0 2020-01-28 12:00:00
5     8.30  742533.883029  4.324213e+06      1.0 2020-01-28 00:00:00

## Calculate snow density 
- eq 1. hs = TWT(v)/2  hs = Lidar snow depth, TWT = gpr two way travel time, V = wave speed
- eq 2. V = C/ sqrt(e),  V = wave speed, C = speed of light (0.3m/ns), e = dielectric permittivity
- eq 3. e = (1+0.845d)^2  Kovacs et al. 1995 d = density (kg/m3 /1000)

re-arrange eq 1.
- V = hs(2)/TWT

re-arrange eq 2.
- e = C^2/V^2

re-arrange eq 3.
- d = (sqrt(e)-1)/0.845

- update lidarSD column name

In [8]:
#First calculation 1
#V = wave speed
GPRLiDAR1['v']= (GPRLiDAR1["lidarSD"]*2)/GPRLiDAR1["twt"]
GPRLiDAR2['v']= (GPRLiDAR2["lidarSD"]*2)/GPRLiDAR2["twt"]

## date specific data set
GPRLiDARdate2['v']= (GPRLiDARdate2["lidarSD"]*2)/GPRLiDARdate2["twt"]
GPRLiDARdate1['v']= (GPRLiDARdate1["lidarSD"]*2)/GPRLiDARdate1["twt"]

In [9]:
#second Calculation 
#e = dielectric permitivity
GPRLiDAR1['e'] = 0.3**2/(GPRLiDAR1['v']**2)
GPRLiDAR2['e'] = 0.3**2/(GPRLiDAR2['v']**2)

## date specific data set
GPRLiDARdate2['e'] = 0.3**2/(GPRLiDARdate2['v']**2)
GPRLiDARdate1['e'] = 0.3**2/(GPRLiDARdate1['v']**2)

In [10]:
#third calculation
# density
# d = (sqrt(e)-1)/0.845
GPRLiDAR1['dens'] = (((GPRLiDAR1['e'])**(1/2))-1)/0.845
#convert units to kg/m^3
GPRLiDAR1['dens'] = GPRLiDAR1['dens']*1000

GPRLiDAR2['dens'] = (((GPRLiDAR2['e'])**(1/2))-1)/0.845
#convert units to kg/m^3
GPRLiDAR2['dens'] = GPRLiDAR2['dens']*1000

##date specific dataset
GPRLiDARdate1['dens'] = (((GPRLiDARdate1['e'])**(1/2))-1)/0.845
#convert units to kg/m^3
GPRLiDARdate1['dens'] = GPRLiDARdate1['dens']*1000

GPRLiDARdate2['dens'] = (((GPRLiDARdate2['e'])**(1/2))-1)/0.845
#convert units to kg/m^3
GPRLiDARdate2['dens'] = GPRLiDARdate2['dens']*1000

In [11]:
GPRLiDAR1.head()

,twt,easting,northing,lidarSD,date,v,e,dens
test,,,,,,,,
1,5.90,743368.892029,4.323616e+06,1.0,2020-01-28 16:00:00,0.338983,0.783225,-136.094675
2,9.90,746758.812016,4.324191e+06,1.0,2020-02-01 00:00:00,0.202020,2.205225,573.964497
3,9.60,742420.164029,4.322554e+06,1.0,2020-01-29 00:00:00,0.208333,2.073600,520.710059
4,8.55,743543.314030,4.324112e+06,1.0,2020-01-28 12:00:00,0.233918,1.644806,334.319527
5,8.30,742533.883029,4.324213e+06,1.0,2020-01-28 00:00:00,0.240964,1.550025,289.940828

## Simple Median Filter to remove 
- running median filter using a buffer

In [13]:
import scipy.spatial as spatial
tmp = GPRLiDAR1[0:1000000:100]

,twt,easting,northing,lidarSD,date,v,e,dens
test,,,,,,,,
1,5.900,743368.892029,4.323616e+06,1.0,2020-01-28 16:00:00,0.338983,0.783225,-136.094675
109,8.035,742995.883869,4.324982e+06,1.0,2020-01-30 12:00:00,0.248911,1.452628,242.899408
221,8.150,745658.471584,4.323979e+06,1.0,2020-01-30 00:00:00,0.245399,1.494506,263.313609
330,8.400,743529.979029,4.324044e+06,1.0,2020-01-28 00:00:00,0.238095,1.587600,307.692308
441,10.700,742776.871029,4.324524e+06,1.0,2020-01-28 00:00:00,0.186916,2.576025,715.976331
...,...,...,...,...,...,...,...,...
499502,8.200,742684.906029,4.323816e+06,1.0,2020-01-28 08:00:00,0.243902,1.512900,272.189349
499611,8.000,742926.104029,4.324516e+06,1.0,2020-01-28 08:00:00,0.250000,1.440000,236.686391
499718,7.445,743231.001029,4.323942e+06,1.0,2020-01-29 12:00:00,0.268637,1.247131,138.165680
499832,7.350,743323.988029,4.323997e+06,1.0,2020-01-29 06:00:00,0.272109,1.215506,121.301775
499945,7.300,744038.113030,4.322762e+06,1.0,2020-01-29 00:00:00,0.273973,1.199025,112.426036

In [26]:
#points = np.array((GPRLiDAR1["easting"],GPRLiDAR1["northing"]))
points = np.array((tmp["easting"],tmp["northing"]))
points = points.transpose()
print(points)
point_tree = spatial.cKDTree(points)
buffer = 25
out = point_tree.query_ball_point(points, 25)
out

[[ 743368.89202931 4323615.73708793]
 [ 742995.88386875 4324981.85369746]
 [ 745658.47158443 4323978.96027809]
 ...
 [ 743231.00102924 4323942.45708797]
 [ 743323.98802933 4323997.25808799]
 [ 744038.11302984 4322761.5130878 ]]

array([list([0, 195, 824]),
       list([1, 408, 1274, 1279, 2433, 2448, 2754, 3026, 3538, 3697, 3968, 4018]),
       list([2, 815, 1693, 2472, 2726, 3948]), ...,
       list([1042, 3240, 3516, 4498]),
       list([89, 1246, 1503, 4342, 4468, 4499]), list([4500])],
      dtype=object)

In [42]:
denseout = []
for x in out:
    denseout.append(tmp.iloc[x]['dens'].median())
len(denseout)

4501

## Calculate SWE
- GPR density (kg/m3)
- LiDAR Snow Depth (cm)

- SWE (cm) = LiDAR SD (cm) * GPR Density (g/cm3)

In [ ]:
## all dates of same location between two time frames data 
GPRLiDAR1['SWE'] = GPRLiDAR1['lidarSD'] * (GPRLiDAR1['dens']/1000)
GPRLiDAR2['SWE'] = GPRLiDAR2['lidarSD'] * (GPRLiDAR2['dens']/1000)

##dates only filtered by
GPRLiDARdate1['SWE'] = GPRLiDARdate1['lidarSD'] * (GPRLiDARdate1['dens']/1000)
GPRLiDARdate2['SWE'] = GPRLiDARdate2['lidarSD'] * (GPRLiDARdate2['dens']/1000)

GPRLiDARdate1.head()

## Export CSV with new values
Table should include:
- ASO X 
- ASO Y
- ASO snow depth
- ASO SWE
- GPR TWT
- GPR Density
- GPR/LiDAR SWE

In [ ]:
## GPRLiDAR1 = January 28th - February 2nd ( Flight February 2nd 2020)
GPRLiDAR1.to_csv('GPRLiDAR1.csv')
## GPRLiDAR2 = Febraury 4 - February 9 (Flight February 13th 2020
GPRLiDAR2.to_csv('GPRLiDAR2.csv')

##filtered by dates and lidar cell location
GPRLiDARdate1.to_csv('GPRLiDARdate1.csv')
GPRLiDARdate2.to_csv('GPRLiDARdate2.csv')